/* ===========================
   GLOBAL CORPORATE THEME QRS
=========================== */
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f9;
    color: #333;
}

/* ===========================
   NAVBAR
=========================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 10px;
    background: #0f1f3d;
}
  
/*.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    background: #0f1f3d;
    position: sticky;
    top: 0;
    z-index: 1000;  
    color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    flex-wrap: nowrap;}
*/
/*.navbar-left {
    height:100%;
    align-items: center;
}*/
    .navbar-left {
    display: flex;
    align-items: center;
    gap: 150px; /* space between logo & text */
}

.logo {
    height: 76px;
    max-height: 76px;
    width: auto;
    max-width: 140px;
    display: block;
    object-fit: contain;
    overflow:hidden;
}
/*.logo {
    height: 55px;
    width: auto;
    object-fit: contain;
}*/

.company-name {
    font-size: 25px;
    color: white;
    font-weight: 650;
    white-space: nowrap;   
}
/*.company-name {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-left: 10px;
}*/

.navbar-right {
    display: flex;
    align-items: center;
    gap: 5px; /* space between menu items */
    }

/*.navbar-right {

    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    }*/

.navbar-right a {
    color: white;
    margin-left: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #fca311;
}


    /*.navbar img {
    height: 55px;
}*/
/*
img { max-width: 100%; height: auto; }
.section { padding: 60px 5%; }*/

/* Mobile nav */
@media(max-width: 1020px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}

/* ===========================
   IMAGE SLIDER
=========================== */
.slider-container {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: auto;
    display: none;
    animation: fade 1.2s ease-in-out;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit:contain;
}

@keyframes fade {
    from { opacity: 0.5; }
    to   { opacity: 1;   }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.7);
}

.prev { left: 20px; }
.next { right: 20px; }

.dots {
    text-align: center;
    padding: 12px 0;
    background: white;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background: #bbb;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.active-dot {
    background: #14213d;
}

/* ===========================
   SECTION STANDARD
=========================== */
.section {
    padding: 5px 15%;
    text-align: center;
}

.section h2 {
    font-size: 38px;
    color: #14213d;
    margin-bottom: 10px;
}

.section h3 {
    font-size: 18px;
    color: #eff1f5;
    margin-bottom: 5px;
}

.section h4 {
    font-size: 20px;
    color: #14213d;
    margin-bottom: 8px;
}
/* ===========================
   MISSION & VISION
=========================== */
.mv-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.mv-box {
    /*background: white;*/
    background: #14213d;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    color: #eff1f5;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* ===========================
   TEAM SECTION
=========================== */
.team-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.team-box {
    width: 240px;
    background: #14213d;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    color: #eff1f5;
    box-shadow: 0 5px 15px hsla(271, 35%, 45%, 0.1);
}

/* ===========================
   STAT COUNTERS
=========================== */
.counter-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.counter-box {
    background: #14213d;
    padding: 30px;
    color: white;
    width: 250px;
    min-height: 120px;
    border-radius: 12px;
    text-align: center;
    font-size: 26px;
}

.careers-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
}

.career-box{
    margin-top: 0;
    margin-bottom: 12px;
    width: 700px;
    background: #14213d;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    color: #eff1f5;
    box-shadow: 0 5px 15px hsla(271, 35%, 45%, 0.1);
}

/* Position title INSIDE box, top center */
.position-title {
    position: fixed;
    top: 5px;                        /* inside the box */
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 200;
    color: #ffffff;
    /*width: fit-content; 
    height:auto;
    margin: 0;
    padding: 0;
    line-height: 1;*/
}

.btn
{
    background-color: #ffffff;
    color: #14213d;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
     display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: #9ebbda;
    color: #3f1292;
    border: 2px solid #120392;
}

/* ===========================
   TESTIMONIALS
=========================== */
.testimonial-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    margin: auto;
    width: 70%;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* ===========================
   CONTACT FORM
=========================== */
form {
    max-width: 550px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 14px 25px;
    border: none;
    font-size: 17px;
    background: #14213d;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0d1b2a;
}

.apply-container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* LABELS */
.apply-container label {
    margin-bottom: 4px;
    font-size: 12px;
    display: block;
    font-weight: 600;
}

/* INPUTS, TEXTAREA, SELECT */
.apply-container input,
.apply-container textarea,
.apply-container select {
    width: 100%;
    height: 36px;          /* slim height */
    padding: 6px 10px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* TEXTAREA SPECIAL */
.apply-container textarea {
    height: 80px;
}

/* FILE INPUT */
.apply-container input[type="file"] {
    height: auto;
    padding: 4px;
    font-size: 13px;
}

/* BUTTON */
.apply-container button {
    width: 100%;
    padding: 10px;
    background: #0f1f3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

/* BUTTON HOVER */
.apply-container button:hover {
    background: #0056b3;
}


/* ===========================
   FOOTER
=========================== */
.footer {
    background: #0f1f3d;
    color: white;
    padding: 20px;
    text-align: center;
}
